.postdetails, .tagline, .actionline {
	font-size: 0.75em;
	color: #999999;
}

.actionline a {
	margin-right: 0.5em;
}

.posttitle {
	text-decoration: none;
	font-weight: normal;
}
.postcontent {
}

.post-full {
	/*border: 1px solid #dddddd;*/
	box-shadow: inset 0px 0px 4px #aaa;
	padding: 1em;
}

.postdetails {
	margin-top: 0.5em;
}


.post {
	padding: 1em 0.5em 1em 1em;
	margin-bottom: 0em;
	margin-top: 0em;
}

.post.odd {
	/*background: #f4f4f4;*/
}
.post.even {
	background: #f4f4f4;
}




.editbox {
	margin-top: 1em;
}

@media screen and (min-width: 500px) {
	.editbox textarea {
		width: 500px;
		/*height: 100px;*/
	}
}

@media screen and (max-width: 600px) {
	.editbox textarea {
		width: 98%;
		/*height: 10em;*/
	}
}



/* Comments */

.comments {
	margin-left: -1em;
}

.comments > p {
	margin-left: 1em;
}

.comment {
	padding: 0.4em;
	padding-top: 1em;
	padding-left: 1em;
	/*
	border-radius: 10px;
	border: solid 1px #e0e0e0;
	*/
}

.childcomments {
		border-left: 3px #cccccc solid;
}

.comment:hover > .childcomments {
	border-color: #888888;
}

.commentcontent {
	padding: .2em;
}

.comment:hover > .commentcontent {
	background-color: #efefef;
}

.comment p {
	padding-left: 0.5em;
}

/*
.comment.even {
	background-color: #f2f2f2;
}

.comment.odd {
	background-color: #ffffff;
}
*/


/* Alerts */
.alert {
	position: relative;
	z-index: 0;
	padding: 1em;
	/*border: solid 1px #008ba3;*/
	margin: 0.7em;
	margin-top: 0em;
	box-shadow: -1px 3px 4px 0px #888;
	
	-moz-animation-name: dropHeader;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in;
	-moz-animation-duration: 0.3s;

	-webkit-animation-name: dropHeader;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 0.3s;
	
	animation-name: dropHeader;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@-moz-keyframes dropHeader {
	0% {
		-moz-transform: translateY(-40px);
	}	
	100% {
		-moz-transform: translateY(0);
	}
}
@-webkit-keyframes dropHeader {
	0% {
		-webkit-transform: translateY(-40px);
	}
	100% {
	-webkit-transform: translateY(0);
	}
}

@keyframes dropHeader {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0);
	}
}

/*
.alert.error {
	background-color: #ff765e;
	border-color: #e63b1c;
	color: black;
}
.alert.message {
	border-color: #008ba3;
	background-color: #46e4ff;
	color: black;
}
.alert.success {
	//border-color: #008ba3;
}
*/



body {
	font-family: arial, helvetica, sans-serif;
	color: #666666;
	background-color: #FFFFFF;
	letter-spacing: 0.07em;
	word-spacing: 0.1em;
	margin: 0em;
}

@media screen and (min-width: 500px) {
	body {
		background-image: url("/static/escheresque/escheresque.png");
	}
}


a {
	transition-duration: 0.2s;
	text-decoration: none;
	font-weight: bold;
	color: #777777;
}

a:hover {
	transition-duration: 0.2s;
	text-decoration: underline;
}

.container {
	background: white;
	padding: 0em;
}



.header-content {
 	background: #999999;
	color: #ffffff;
	text-shadow: -1px 1px 3px #555;
	background-image: url("/static/footer_lodyas.png");
}

.header-content a {
	color: #ffffff;
	text-decoration: none;
}

.header-content a:hover {
	text-decoration: underline;
}

.header-control {
	position: relative;
	z-index: 1;
	background: #ffffff;
  box-shadow: 2px 0 15px -2px #888;
}

.header-action {
	padding: 1em 1em 1em 1em;
}

@media screen and (max-width: 671px) {
	.login.large {
		display: none;
	}
}
@media screen and (min-width: 672px) {
	.login.small {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.header-action {
		display: block;
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
	}
	
	.header-action + .header-action {
		margin-top: .4em;
	}
}

.header-action form {
	height: 17px;
}

@media screen and (min-width: 500px) {
	.login {
		float:right;
	}
	
	.header-action {
		display: inline-block;
		border-left: 1px solid #eeeeee;
		border-right: 1px solid #eeeeee;
	}	
}

.header-action:hover {
	background: linear-gradient(#ffffff, #eeeeee);
}


@media screen and (max-width: 500px) {
	.container {
	}
	.header-content {
		padding: 1em;
	}
}

@media screen and (max-width: 1300px) and (min-width: 500px) {
	.container {
		position: relative;
		width: 90%;
		margin: auto;
	}
	.content, .header-content {
		padding: 1em;
		padding-top: .1em;
	}
}

@media screen and (min-width: 1300px) {
	.container {
		position: relative;
		width: 60%;
		margin: auto;
	}
	
	.content, .header-content {
		padding: 1.5em;
	}
}





h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.7em;
	padding-top: 1.3em;
}

h3 {
	color: #666666;
	padding-left: 2em;
	font-size: 1.5em;
}

h4 {
	margin: 0.5em;
	font-size: 1.2em;
}

h5 {
	margin: 0em;
	margin-left: 0.5em;
	font-size: 1em;
}




td {
	padding-left: 1em;
	padding-right: 1em;
	border-left: solid 1px #eeeeee;
	border-right: solid 1px #eeeeee;
}
	
hr {
	color: #999999;
}








/*   Markdown   */
.md h1 {
  font-size: 1.7em;
  padding: 0em;
  margin: 0em;
}
.md h2 {
  font-size: 1.5em;
  padding: 0em;
  margin: 0em;
}
.md h3 {
  font-size: 1.3em;
  padding: 0em;
  margin: 0em;
}
.md h4 {
  padding: 0em;
  margin: 0em;
}
.md h5 {
  font-size: 1em;
  padding: 0em;
  margin: 0em;
}
.md h6 {
  padding: 0em;
  margin: 0em;
}
.md pre, .md p > code {
  /*color: black;*/
  background-color: #eeeeee;
  padding: .5em;
  border: 1px solid #aaaaaa;
}