<!doctype html>
<html lang="en">
	<!-- Stay out of my territory -->
	<head>
		<title>{{title}}</title>

		{% block head %}{% endblock %}
		<script type='text/javascript'>
			var hiddenWidth = 0;
			window.onresize = function() {
				var element = document.getElementById('header-control');
				
				var style = window.getComputedStyle(element);
				if (style.getPropertyValue('flex-direction') === 'column') {
					// Let CSS handle this
					var large = document.querySelectorAll('.login.large');
					for(var i = 0; i < large.length; i++) {
						large[i].style.display = '';
					}
					var small = document.querySelectorAll('.login.small');
					for(var i = 0; i < small.length; i++) {
						small[i].style.display = '';
					}
				} else {
					var largeel = document.querySelectorAll('.login.large');
					if (largeel.length === 0) return;
					if (largeel[0].style.display === 'none') {
						var filler = document.getElementById('header-filler');
						// Check if header-control (element) is wide enough
						if (hiddenWidth > 0 && filler.clientWidth > hiddenWidth) {
							// Large enough, let's make it visible
							var large = document.querySelectorAll('.login.large');
							for(var i = 0; i < large.length; i++) {
								large[i].style.display = 'inline-block';
							}
							var small = document.querySelectorAll('.login.small');
							for(var i = 0; i < small.length; i++) {
								small[i].style.display = 'none';
							}
						} else {
							// The header is not wide enough to show
							// the large login, so we'll just mainain status quo
						}
					} else {
						if (element.scrollWidth > element.clientWidth) {
							hiddenWidth = 0;
							// header-control is being overflowed
							var large = document.querySelectorAll('.login.large');
							for(var i = 0; i < large.length; i++) {
								if (large[i].scrollWidth > hiddenWidth) hiddenWidth = large[i].scrollWidth;
								large[i].style.display = 'none';
							}
							var small = document.querySelectorAll('.login.small');
							for(var i = 0; i < small.length; i++) {
								small[i].style.display = 'inline-block';
							}
						} else {
							// Header-control is not being overflowed and we are
							// showing the large login. all is well
						}
					}
				}
			}
		</script>
		<!--<link rel="shortcut icon" href="#">-->
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		<meta name="viewport" content="initial-scale=1">
	</head>
	<body>
{% block title %}{% endblock %}

{#
{% block head %}
{{ super() }}
{% endblock head %}
#}

<div class="container">
	<div class="header">
		<div class="header-content" 
       		{% if header_img %}
       			style="background-image: url('{{url_for('static', filename='banners/' + header_img)}}');"
       		{% endif %}
       		>
		<div class='header-content-filter'>
	{% block pagetitle %}<h1>{{title}}</h1>{% endblock%}
		</div>
		</div>
		<div id='header-control' class="header-control">
			<a class="header-action" href="{{url_for('.index')}}">
				Section list
			</a>
			{% block header_controls %}{% endblock %}
			<span id="header-filler" class="header-filler">
			</span>
			{% if current_user.is_authenticated() %}
			<a class="header-action login" href="{{url_for('.logout', next= request.form.get('next') or request.args.get('next') or request.path)}}">
				Log out {{current_user.name}}
			</a>
			{% else %}
			<span class="header-action login large">
			<form action="{{url_for('.login', next= request.form.get('next') or request.args.get('next') or request.path)}}"
			      method="post" name='login'>
				<input type="hidden" name="csrftoken" value="{{get_form_key()}}"/>
				<input type="text" placeholder="username" name="username"/>
				<input type="password" placeholder="password" name="password"/>
				<span class='chkcontainer'>
					<input type="checkbox" name="remember" title="Remember me" />
				</span>
				<input type="submit" value="Sign in"/>
			</form>
			</span>
			<a class="header-action login small" href="{{url_for('.login', next=request.path)}}">
				Log in
			</a>
			{% endif %}
		</div>
	</div>
	{% block alerts %}
	{% for cat, message in get_flashed_messages(with_categories=True) %}
	<div class="alert {{cat}}">{{ message }}</div>
	{% endfor %}
	{% endblock %}
	<div class="content">
	{% block main_content %}{% endblock %}
	</div>
</div>
	</body>
</html>
