<!doctype html>
<html lang="en">
	<!-- Stay out of my territory -->
	<head>
		<title>{{title}}</title>
		<!--<link rel="shortcut icon" href="#">-->
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		<meta name="viewport" content="initial-scale=1">
	</head>
	<body>
{% block title %}{% endblock %}

{#
{% block head %}
{{ super() }}
{% endblock head %}
#}

<div class="container">
	{% block pagetitle %}<h1>{{title}}</h1>{% endblock%}
	<div class="login">
	{% if current_user.is_authenticated() %}
	Hello {{ current_user.name }}. <a href="{{url_for('logout', next=request.path)}}">Log out</a>
	{% else %}
	<a href="{{url_for('.login', next=request.path)}}">Log in</a>
	{% endif %}
	</div>
	{% block alerts %}
	{% for cat, message in get_flashed_messages(with_categories=True) %}
	<div class="alert {{cat}}">{{ message }}</div>
	{% endfor %}
	{% endblock %}
	{% block main_content %}{% endblock %}
</div>
	</body>
</html>
