{%extends 'base.html'%}
{% block head %}
<script>
function toggleComment(me, id, nc) {
	var el = document.getElementById('c' + id + '-hide');
	if (me.innerHTML === '[+]') {
		me.innerHTML = '[-](' + nc +' hidden children)';
		el.style.display = 'none';
	} else {
		me.innerHTML = '[+]';
		el.style.display = 'block';
	}
}
function toggleVisible(id) {
	var el = document.getElementById(id);
	if (el.style.display === 'none') {
		el.style.display = 'block';
	} else {
		el.style.display = 'none';
	}
}
</script>
{%endblock%}

{%block pagetitle %}
<h1><a href="{{title}}">{{title}}</a></h1>
{%endblock%}
{%block main_content %}
{% if post.type == 0 %}

<h4>{{post.title}}</h4>
<div class="post-full">
	<div class="postcontent md">{{markup(post.content)|safe}}</div>
{% else %}

<h4><a href="{{post.content}}">{{post.title}}</a></h4>
<div class="post-full">

{% endif %}
	<div class="postdetails">Posted by <a href="/u/{{post.user}}">{{post.user}}</a> at {{post.created}}</div>
	<div class="actionline">
		{% if current_user.is_authenticated() and current_user.name == post.user %}
		<a href="{{url_for('.edit_post', id=post.id)}}">edit</a>
		{% endif %}
	</div>
</div>
		{% if current_user.is_authenticated() %}
		<div class='editbox'>
			<form action='{{url_for('.post_comment', postid=post.id)}}' method='post' name='comment'>
				<input type="hidden" name="csrftoken" value='{{get_session_key()}}'/>
				<textarea cols=1 rows=10 name='content' placeholder="What is your contribution today?"></textarea>
				<br/>
				<input type='submit' value='Share!'/>
			</form>
		</div>
		{% endif %}
<div class="comments">
	{% for comment in post.comments %}
		{% if not loop.first %}
			{% set foo = last_depth - comment.depth %}
			{% if foo >= 0 %}
				{{('</div></div></div></div>' * (foo + 1))|safe}}
			{% endif %}
		{% endif %}
		{% set last_depth = comment.depth %}

		<div id='c{{comment.id}}' class="comment {{loop.cycle('odd', 'even')}}">
			<div class="commentcontent">
				<div class='tagline'>
					<a href="{{url_for('.user', username=comment.username)}}">{{comment.username}}</a>
					at {{comment.created}} <!--({{comment.num_children}} child comments)-->
				</div>
				<div>
					<div class="md">
					{{markup(comment.content)|safe}}
					</div>
					<div class='actionline'>
						{% if comment.num_children > 0 %}
						<a href="javascript: void 0;" onclick="toggleComment(this, '{{comment.id}}', {{comment.num_children}});">[+]</a>
						{% else %}
						<a href="javascript: void 0;">[0]</a>
						{% endif %}
						{% if current_user.name == comment.username %}
							<a href="{{url_for('.edit_comment', comment=comment.id)}}">edit</a>
						{% endif %}
						<a href="mailto:iwantafeature@perlundh.com">report</a>
						<a href="mailto:iwantafeature@perlundh.com">message</a>
						<a href="mailto:iwantafeature@perlundh.com">favourite</a>
						<a href="javascript: void 0;" onclick="toggleVisible('c{{comment.id}}-reply');">reply</a>
					</div>
					<div id="c{{comment.id}}-reply" class='editbox' style="display: none">
						<form action="{{url_for('.post_comment', postid=post.id, parent=comment.id)}}" method='post' name='comment{{comment.id}}'>
							<input type="hidden" name="csrftoken" value='{{get_session_key()}}'/>
							<textarea cols=1 rows=6 name='content' placeholder="Be nice!"></textarea>
							<br/>
							<input type='submit' value='Share!'/>
						</form>
					</div>
				<div class="childcomments" id="c{{comment.id}}-hide">
			{% if loop.last %}
				{{('</div></div></div></div>' * (loop.depth + 1))|safe}}
			{% endif %}
	{% else %}
	<p>No comments yet.</p>
	{% endfor %}
</div>
{%endblock%}
